.mat-button-base {
    margin: 8px 8px 8px 0;
}

.mat-divider {
    width: 100%;
    background: white;
}

.shape-type {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.area-square {
    position: relative;
}

.area-square >span{
    position: absolute;
    bottom: 20%;
    left: 100%;
    font-size: 8px;
}

.rectangle {
    width: 20px;
    height: 16px;
    display: inline-flex;
    background: grey;
}

.square {
    width: 16px;
    height: 16px;
    display: inline-flex;
    background: grey;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-flex;
    background: grey;
}

.triangle {
    width: 0;
    height: 0; 
    display: inline-flex;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid grey;
}

.title {
    font-size: 32px;
    font-weight: bolder;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}